---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact Us" title="Let's Connect!" />

  <ContactUs
    id="form"
    title="Email us today!"
    subtitle="Please fill out the following form to request more information about our services. We look forward to hearing from you!"
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Email',
        description: '<a href="mailto:longislandivyinsights@gmail.com">longislandivyinsights@gmail.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Long Island, NY',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
