---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'CollegeCoaches',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        text: 'College Consulting',
        href: '#college-consulting',
      },
      {
        text: 'Course Tutoring',
        href: '#course-tutoring',
      },
      // TODO: MAYBE INSERT AN IMAGE HERE
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">College Consulting</span> + <span
        class="text-accent dark:text-white highlight">Course Tutoring</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">CollegeCoaches</span> is a consulting and tutoring service run by college students. We
      help students excel in their classes and earn admission into top schools!
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    id="college-consulting"
    title="College applications from start to finish."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Planning</span>',
        description:
          "We'll help you identify your goals, strengths, and weaknesses. We'll also help you choose which colleges to apply to and what you can do to stand out.",
        icon: 'tabler:school',
      },
      {
        title: 'Step 2: <span class="font-medium">Writing</em>',
        description:
          "We'll guide you through the process of writing your college essays and personal statements. We'll help you brainstorm ideas, structure your essays, and write compelling statements.",
        icon: 'tabler:writing',
      },
      {
        title: 'Step 3: <span class="font-medium">Editing</span>',
        description:
          "We'll review your essays and provide feedback on how you can improve them. We'll help you refine your ideas, strengthen your arguments, and polish your writing.",
        icon: 'tabler:edit',
      },
      {
        title: 'Submit Your Applications!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1537888692311-8a7fb3e9f374?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'MIT Great Dome',
    }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    isReversed
    id="course-tutoring"
    title="Tutoring for all high school courses."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Assessment</span>',
        description:
          "We'll assess your current understanding of the subject and identify areas where you need help. We'll also help you set goals and create a study plan.",
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Step 2: <span class="font-medium">Teaching</span>',
        description:
          "We'll teach you the material you need to know and help you practice solving problems. We'll explain concepts, provide examples, and answer your questions.",
        icon: 'tabler:book',
      },
      {
        title: 'Step 3: <span class="font-medium">Review</span>',
        description:
          "We'll review the material you've learned and help you prepare for tests and exams. We'll quiz you on key concepts, test your understanding, and provide feedback on your performance.",
        icon: 'tabler:checklist',
      },
      {
        title: 'Ace Your Classes!',
        icon: 'tabler:letter-a',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Tutoring',
    }}
  />
</Layout>
