---
import { SITE } from 'astrowind:config';
import thirtyTwo from '~/assets/favicons/favicon-32x32.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src={thirtyTwo.src} alt="Logo" class="inline-block" />
  {SITE?.name}
</span>
